:root {
  --primary: #279881;
  --secondary: #E6E6E6;
  --text: #4E4E4E;
  --title-color: #279881;
  --white: #fefdfb;
  scroll-behavior: smooth;
}

@keyframes glow {
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--white), 0 0 40px var(--white), 0 0 50px var(--primary), 0 0 60px var(--primary);
  }
}
* {
  box-sizing: border-box;
}

.bg-primary {
  --text: var(--white);
  background: var(--primary);
  color: var(--text);
}
.bg-primary .title {
  color: var(--text);
}

.bg-secondary {
  --text: #737373;
  background: var(--secondary);
  color: var(--text);
}

.title {
  color: var(--primary);
  font-size: 55px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.f30 {
  font-size: 30px;
}

.f40 {
  font-size: 40px;
}

.f55 {
  font-size: 55px;
}

.clr-white {
  color: var(--white);
}

.txt-center {
  text-align: center;
}

.grid {
  padding: 0 var(--page-padding);
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.span-1 {
  grid-column: 1/span 1;
}

.span-2 {
  grid-column: 1/span 2;
}

.span-3 {
  grid-column: 1/span 3;
}

.span-4 {
  grid-column: 1/span 4;
}

.span-5 {
  grid-column: 1/span 5;
}

.span-6 {
  grid-column: 1/span 6;
}

.span-7 {
  grid-column: 1/span 7;
}

.span-8 {
  grid-column: 1/span 8;
}

.span-9 {
  grid-column: 1/span 9;
}

.span-10 {
  grid-column: 1/span 10;
}

.span-11 {
  grid-column: 1/span 11;
}

.span-12 {
  grid-column: 1/span 12;
}

.grid-start-1 {
  grid-column-start: 1;
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

body {
  --page-padding: min(168px, 12vw);
  --grid-gap: clamp(4px, 2vw, 24px);
  background: var(--white);
  font-family: "Oxygen", sans-serif;
  color: var(--text);
  margin: 0;
}

h1 {
  font-size: 120px;
  color: var(--white);
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0;
}
h1 span {
  display: block;
}

header section {
  display: grid;
  place-content: center;
  background: url("../assets/images/hero-bg.png") no-repeat;
  min-height: 520px;
  background-size: cover;
}

.navhead {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--page-padding);
}
.navhead a:hover svg, .navhead a:focus svg {
  fill: var(--primary);
}
.navhead svg {
  fill: var(--text);
}
.navhead div {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navhead div a {
  text-decoration: none;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  color: var(--primary);
  text-decoration: none;
}
.logo span {
  display: block;
}
.logo p {
  height: -moz-min-content;
  height: min-content;
  margin: 1.5rem 0 0 0;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 10px var(--page-padding);
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.navbar a {
  text-decoration: none;
  color: var(--primary);
}
.navbar a:hover, .navbar a:focus {
  text-decoration: underline;
}

main section:not(:first-child) {
  margin-top: 80px;
}

#intro h2 {
  margin: 50px 0 10px 0;
}
#intro p {
  margin: 0;
}

#servicos .grid {
  padding-top: 60px;
  padding-bottom: 60px;
}
#servicos p {
  margin-bottom: 12px;
}
#servicos p:not(.title) {
  font-size: 24px;
  margin: 0;
}
#servicos img {
  width: 75%;
  height: auto;
}

#sobre .grid {
  gap: 30px var(--grid-gap);
  padding-top: 60px;
  padding-bottom: 60px;
}
#sobre h3, #sobre p {
  margin: 0;
}
#sobre img {
  width: 100%;
}
#sobre .imagem {
  align-self: center;
  grid-row: span 3;
}

#contato form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#contato input, #contato textarea {
  --input-height: 50px;
  display: block;
  width: 100%;
  background: var(--white);
  min-height: var(--input-height);
  padding: 13px;
  font-size: 20px;
  border: none;
}
#contato .mensagem {
  min-height: calc(var(--input-height) * 3);
  font-family: inherit;
}
#contato [type=submit] {
  width: 50%;
  border-radius: 9px;
  background: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--secondary);
  transition: 200ms;
}
#contato [type=submit]:hover, #contato [type=submit]:focus {
  cursor: pointer;
  background: var(--primary);
  border: 2px solid var(--white);
  color: var(--white);
}

.double.grid {
  padding-bottom: 45px;
}
.double.grid > * {
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
}

footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: max-content max-content;
  row-gap: 10px;
  padding: 10px var(--page-padding);
}
footer div {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  align-items: center;
}
footer div:target p {
  animation: glow 2s ease-in-out;
  animation-delay: 800ms;
}
footer .logo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .contatos {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  gap: 30px;
}
footer .contatos div {
  display: flex;
  gap: 10px;
}
footer .contatos div svg {
  margin: auto;
  fill: var(--text);
}
footer .contatos a {
  display: grid;
}
footer p {
  margin: 0;
  font-size: 24px;
}
footer #email a:hover svg, footer #email a:focus svg {
  fill: var(--primary);
}
footer .copyright {
  color: var(--primary);
  font-size: 12px;
  margin: 0;
}
footer .copyright span {
  display: inline;
  font-family: Helvetica, sans-serif;
  vertical-align: middle;
}

section:target > .title, div:target > .title {
  animation: glow 1s ease-in-out;
  animation-delay: 800ms;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: opacity 0.6s ease-in-out;
}

.carousel-fade .carousel-item {
  opacity: 0;
}
.carousel-fade .carousel-item-next.carousel-item-start, .carousel-fade .carousel-item-prevcarousel-item-end, .carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start, .carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
}

.carousel-item, .carousel-item-next, .carousel-item-prev {
  display: block;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.carousel-control-prev {
  left: 0;
  rotate: 180deg;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  top: 50px;
  transform-origin: center;
  z-index: 2;
  cursor: pointer;
  fill: var(--secondary);
  transition: 100ms;
  height: -moz-max-content;
  height: max-content;
  width: -moz-min-content;
  width: min-content;
}
.carousel-control-prev span, .carousel-control-next span {
  height: -moz-min-content;
  height: min-content;
  display: inline-block;
}
.carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
  fill: var(--white);
}
.carousel-control-prev:active, .carousel-control-next:active {
  scale: 90%;
}

.carousel-header {
  height: 150px;
  width: 200px;
  background: #247766;
  color: var(--white);
  margin: auto;
  margin-bottom: 1rem;
  padding: 13px;
  font-size: 24px;
  text-align: center;
}

.carousel-content {
  width: 100%;
  background: var(--white);
  color: #4E4E4E;
  height: 250px;
  padding: 13px;
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */