
    
:root
    --primary: #279881
    --secondary: #E6E6E6
    //default text colour if background is white
    --text: #4E4E4E 
    --title-color: #279881
    --white: #fefdfb
    scroll-behavior: smooth

@keyframes glow 
    50%
        text-shadow: 0 0 20px #fff, 0 0 30px var(--white), 0 0 40px var(--white), 0 0 50px var(--primary), 0 0 60px var(--primary)
        


*
    box-sizing: border-box

// utils

.bg-primary
    --text: var(--white)
    background: var(--primary)
    color: var(--text)
    .title
        color: var(--text)

.bg-secondary
    --text: #737373
    background: var(--secondary)
    color: var(--text)

.title
    color: var(--primary)
    font-size: 55px
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)


.f30
    font-size: 30px

.f40
    font-size: 40px

.f55
    font-size: 55px

.clr-white
    color: var(--white)

.txt-center
    text-align: center

.grid
    padding: 0 var(--page-padding)
    display: grid
    gap: var(--grid-gap)
    grid-template-columns: repeat(12, 1fr) 
    grid-auto-rows: auto

@for $i from 1 through 12  
    .span-#{$i}
        grid-column: 1 / span #{$i}

@for $i from 1 through 12  
    .grid-start-#{$i}
        grid-column-start: #{$i}

// styling
body
    --page-padding: min(168px, 12vw)
    --grid-gap: clamp(4px, 2vw, 24px)
    background: var(--white)
    font-family: 'Oxygen', sans-serif
    color: var(--text)
    margin: 0


h1
    font-size: 120px
    color: var(--white)
    // font-family: 'Passion One', sans-serif
    font-family: 'Pathway Gothic One', sans-serif
    font-weight: normal
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    text-align: center
    margin: 0
    span
        display: block

header section
    display: grid
    place-content: center
    background: url('../assets/images/hero-bg.png') no-repeat
    min-height: 520px
    background-size: cover

.navhead
    background: var(--white)
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px var(--page-padding)
    a:hover, a:focus
        svg
            fill: var(--primary)   
    svg
        fill: var(--text)
    div
        display: flex
        gap: 40px
        align-items: center
        a
            text-decoration: none
            display: inline-block
            height: fit-content
            width: fit-content

.logo
    display: flex
    gap: 10px
    align-items: center
    font-size: 24px
    color: var(--primary)
    text-decoration: none
    span
        display: block
    p
        height: min-content
        margin: 1.5rem 0 0 0
        
.navbar
    position: sticky
    top: 0
    padding: 10px var(--page-padding)
    display: flex
    justify-content: space-between
    font-size: 30px
    a
        text-decoration: none
        color: var(--primary)
        &:hover, &:focus
            text-decoration: underline
            


main section:not(:first-child)
    margin-top: 80px

#intro
    h2
        margin: 50px 0 10px 0
    p
        margin: 0

#servicos
    .grid
        padding-top: 60px
        padding-bottom: 60px
    p
        margin-bottom: 12px
    p:not(.title)
        font-size: 24px
        margin: 0
    img
        width: 75%
        height: auto
    
#sobre
    .grid
        gap: 30px var(--grid-gap)
        padding-top: 60px
        padding-bottom: 60px
    h3, p
        margin: 0
    img
        width: 100%
    .imagem
        align-self: center
        grid-row: span 3

#contato
    form
        display: flex
        justify-content: space-between
        flex-direction: column
    input, textarea
        --input-height: 50px
        display: block
        width: 100%
        background: var(--white)
        min-height: var(--input-height)
        padding: 13px
        font-size: 20px
        border: none
    .mensagem
        min-height: calc( var(--input-height) * 3  )
        font-family: inherit

    [type="submit"]
        width: 50%
        border-radius: 9px
        background: var(--secondary)
        color: var(--primary)
        border: 2px solid var(--secondary)
        transition: 200ms
        &:hover, &:focus
            cursor: pointer
            background: var(--primary)
            border: 2px solid var(--white)
            color: var(--white)

.double.grid
    padding-bottom: 45px
    & > *
        grid-row: span 2
        display: grid
        grid-template-rows: subgrid


footer
    display: grid
    justify-content: space-between
    grid-template-columns: max-content max-content
    // grid-template-rows: repeat(2, auto)
    row-gap: 10px
    padding: 10px var(--page-padding)
    div
        display: grid
        grid-template-rows: subgrid
        grid-row: span 2
        align-items: center
        &:target p 
            animation: glow 2s ease-in-out
            animation-delay: 800ms
    .logo
        div
            display: flex
            flex-direction: column
            align-items: flex-start
    .contatos
        display: flex
        width: max-content
        gap: 30px
        // display: grid
        // grid-template-columns: min-content max-content
        div
            display: flex
            // display: grid
            // grid-column: span 2
            // grid-template-columns: subgrid
            gap: 10px
            svg
                margin: auto
                fill: var(--text)
        a
            display: grid
    p
        margin: 0
        font-size: 24px

    #email 
        a:hover, a:focus
            svg 
                fill: var(--primary)

    .copyright
        color: var(--primary)
        font-size: 12px
        margin: 0   
        span
            display: inline
            font-family: Helvetica, sans-serif
            vertical-align: middle

section:target, div:target
    
    & > .title
        animation: glow 1s ease-in-out
        animation-delay: 800ms

.carousel
    position: relative

.carousel-inner
    position: relative
    width: 100%
    overflow: hidden

.carousel-item
    position: relative
    display: none
    float: left
    width: 100%
    margin-right: -100%
    backface-visibility: hidden
    transition: opacity .6s ease-in-out

.carousel-fade
    .carousel-item
        opacity: 0
    .carousel-item-next.carousel-item-start, .carousel-item-prevcarousel-item-end, .carousel-item.active
        z-index: 1
        opacity: 1 

    .active.carousel-item-start, .active.carousel-item-end
        z-index: 0
        opacity: 0

.carousel-item, .carousel-item-next, .carousel-item-prev
    display: block

.visually-hidden
    visibility: hidden
    position: absolute

.carousel-control-prev
    left: 0
    rotate: 180deg

.carousel-control-next
    right: 0

.carousel-control-prev, .carousel-control-next
    position: absolute
    display: flex
    align-items: center
    background: transparent
    border: none
    padding: 0
    top: 50px
    transform-origin: center
    z-index: 2
    cursor: pointer
    fill: var(--secondary)
    transition: 100ms
    height: max-content
    width: min-content
    span
        height: min-content
        display: inline-block
    &:hover, &:focus
        fill: var(--white)
    &:active
        scale: 90%

.carousel-header
    height: 150px
    width: 200px
    background: #247766
    color: var(--white)
    margin: auto
    margin-bottom: 1rem
    padding: 13px
    font-size: 24px
    text-align: center

.carousel-content
    width: 100%
    background: var(--white)
    color: #4E4E4E
    height: 250px
    padding: 13px
    font-size: 24px
